@import 'vars.scss';

.weatherselector {
	width: 80%;
	margin: 0 auto;

	&__cards {
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-wrap: wrap;
	}

	&__chart {
		max-width: 100rem;
		margin: 0 auto;
	}

	&__heading {
		font-weight: 400;
		font-size: 2.4rem;
	}

	&__subheading {
		font-weight: 300;
		margin: 3rem 0;
	}

	&__forecast {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;
	}

	&__placeholder {
		max-width: 432px;
		text-align: center;
		margin: 0 auto;
		font-weight: 300;
	}
}

//mobile

@media (max-width: map-get($breakpoints, mobile)) {
	.weatherselector {
		&__chart {
			display: none;
		}

		&__subheading {
			display: none;
		}
	}
}

